@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800;900&display=swap');


/*-----RESET-----*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Popins' sans-serif !important;
}

/*-----HEADER-----*/

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:  rgb(255, 255, 255);
    position: sticky;
    top: 0;
    height: 165px;
    z-index: 10;

}

.header .redes{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 3px;
    background-color: rgb(103, 69, 142)
        
}

.header .redes a{
    margin: 10px;
    padding: 10px;
    
    
}

.header div a{
    text-decoration: none;
    color: rgb(137, 143, 210);
    transition: color 1s;
    
}

.header div a:hover{
    color: rgb(246, 152, 213);
    

}

.header nav{
    background-color: rgb(229, 233, 254);
    width: 100%;
    height:100px;
    font-family: 'Popins' sans-serif;
    font-weight: 700;

}


.header .navbar-nav{
    background-color: rgb(229, 233, 254);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-size: 18px;
    color: rgb(103, 69, 142); 
    width: 100%;
    height: 100px;
}


nav div a{
    margin-left: 30px;
    background-color: rgb(229, 233, 254);
}



/*-----MAIN-----*/


.hero{
    background-image: radial-gradient(ellipse at center, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.2) 100%), linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.095) 100%), url("../img/indexbackground.jpg");
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.hero h1{
    text-align: center;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    font-size: 90px;
    color: rgb(103, 69, 142);
    text-shadow: 2px 2px 3px rgb(67, 29, 87);
    
}

.hero h2{
    text-align: center;
    font-family:'Poppins', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: rgb(229, 220, 250);
    text-shadow: 2px 2px 3px rgb(213, 152, 246);
}

.hero p{
    text-align: center;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: rgb(229, 233, 254);
    text-shadow: 2px 2px 3px rgb(213, 152, 246);
    width: 50%;
    margin-top: 30px;

}

.slogan{
    background-image: linear-gradient(90deg, rgba(203,201,235,1) 0%, rgba(187,168,228,1) 100%, rgba(121,113,235,0) 100%);
    width: 100%;
    height: 60px;
    align-items: center;
}

.slogan h3{
    font-family:'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color:  rgb(105, 86, 209);
    text-shadow: 2px 2px 3px rgb(213, 152, 246);
    text-align: center;
    

}

.slogan h4{
    font-family:'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color:  rgb(105, 86, 209);
    text-shadow: 2px 2px 3px rgb(213, 152, 246);
    text-align: center;
    

}
    

.adopt-card{
    background-image: linear-gradient(90deg, rgba(103,69,142,1) 0%, rgba(113,79,130,1) 100%, rgba(121,113,235,0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
}

.adopt-card div{
    background-color: rgb(229, 220, 250);
    box-shadow: 12px 13px 19px 5px rgba(0,0,0,0.65);
    -webkit-box-shadow: 12px 13px 19px 5px rgba(0,0,0,0.65);
    -moz-box-shadow: 12px 13px 19px 5px rgba(0,0,0,0.65);
    width: 500px;
    height: 550px;
    border: 7px rgb(105, 86, 209) solid;
    border-radius: 10px;
    text-align: center;
    margin: 40px;
    transition: 1s;


}

.adopt-card div:hover{
    transform: scale(1.1);
}

.adopt-card div a{
    text-decoration: none;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 2px;
    color: rgb(229, 233, 254);
    text-shadow: 2px 2px 3px rgb(213, 152, 246);
    background-color: rgb(126, 110, 214);
    padding: 5px;
    border-radius: 10px;
    transition: 2s;
    

    
}

.adopt-card div a:hover{
    background-color: rgb(246, 152, 213);
    box-shadow: 0 0 10px rgb(246, 152, 213);
    
}


.adopt-card div img{
    width: 400px;
    height: 400px;
    margin: 25px;

}



.acercade{
    background-image: radial-gradient(ellipse at center, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.2) 100%), linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.095) 100%), url(../img/cat5.jpg);
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


.acercade .mision {
    width: 40%;
    align-self: flex-start;
    margin-right: 20px;
}

.acercade .vision {
    width: 40%;
    margin-left: 20px;
    align-self: flex-end;
}

.acercade h2{
    font-family: 'Popins', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: rgb(229, 220, 250);
    text-shadow: 2px 2px 3px rgb(154, 114, 210);

}

.acercade p{
    font-family: 'Popins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(229, 233, 254);
    text-shadow: 2px 2px 3px rgb(154, 114, 210);

}

.titulo-galeria{
    background-image: linear-gradient(90deg, rgba(203,201,235,1) 0%, rgba(187,168,228,1) 100%, rgba(121,113,235,0) 100%);
    height: 60px;
    width: 100%
    
}

.titulo-galeria h1{
    color: rgb(103, 69, 142);
    text-shadow: 1px 1px 2px rgb(117, 85, 163);
    font-size: 40px;
    font-weight: 700;
    font-family: 'Popins' sans-serif;
    text-align: center;
}

.galeria-grid{
    width: 100%;
    height: auto;
    background-image: linear-gradient(90deg, rgba(203,201,235,1) 0%, rgba(187,168,228,1) 100%, rgba(121,113,235,0) 100%);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 10px;
}

.galeria-grid div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 12px 13px 19px 1px rgba(0,0,0,0.65);
-webkit-box-shadow: 12px 13px 19px 1px rgba(0,0,0,0.65);
-moz-box-shadow: 12px 13px 19px 1px rgba(0,0,0,0.65);
    
}

.container-fluid{
    width: 100%;
    height: auto;
    background-color: rgb(229, 233, 254);
}

.item-galeria{
    background-color: rgb(229, 233, 254);
    position: relative;
}

.item-galeria h3{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.24);
    color: rgb(229, 220, 250);
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-family: 'Popins', sans-serif;
    font-weight: 600;
}


.img-2{
    
    grid-column: span 2;
    grid-row: span 2;
}

.img-4{
    grid-column: span 2;
    grid-row: span 2;
}

.img-7{
    grid-column: span 2;
    grid-row: span 2;
}

.donate{
    background-image: linear-gradient(to bottom, rgba(35, 31, 31, 0) 20%, rgba(0, 0, 0, 0) 100%), url(../img/cat4.jpg);
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    padding: 20px;

}

.donate-tittle{
    width: 80%;
    height: 100px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.donate-tittle h1{
    padding: 10px;
    width: 80%;
    height: 50px;
    color: rgb(103, 69, 142);
    text-shadow: 1px 1px 2px rgb(42, 25, 66);
    font-family: 'Popins', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.donate-tittle p{
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    color: rgb(137, 143, 210);
    text-shadow: 1px 1px 2px rgb(117, 85, 163);
    font-family: 'Popins', sans-serif;
    font-size: 25px;
    font-weight: 500;
    
}

.donate-cards {
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    


}



.donate-cards div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;

}

.donate-cards div a{
    padding: 5px;
    text-decoration: none;
    color: rgb(105, 86, 209);
    text-shadow: 2px 2px 3px rgb(154, 114, 210);
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: rgb(229, 220, 250);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.donate-cards div a:hover{
    background-color: rgb(246, 152, 213);
    box-shadow: 0 0 10px rgb(246, 152, 213);
    transform: scale(1.2);

}
.card1{
    width: 300px;
    height: 200px;
    background-color: rgb(115, 123, 186);
    box-shadow: 12px 13px 19px 1px rgba(0,0,0,0.65);
-webkit-box-shadow: 12px 13px 19px 1px rgba(0,0,0,0.65);
-moz-box-shadow: 12px 13px 19px 1px rgba(0,0,0,0.65);
    

}

.card2{
    width: 300px;
    height: 200px;
    background-color: rgb(115, 123, 186);
    box-shadow: 12px 13px 19px 1px rgba(0,0,0,0.65);
-webkit-box-shadow: 12px 13px 19px 1px rgba(0,0,0,0.65);
-moz-box-shadow: 12px 13px 19px 1px rgba(0,0,0,0.65);
    margin-left: 50px;
}

.card1 h2{
    color: rgb(229, 220, 250);
    text-shadow: 2px 2px 3px rgb(67, 29, 87);
    font-family: 'Popins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.card2 h2{
    color: rgb(229, 220, 250);
    text-shadow: 2px 2px 3px rgb(67, 29, 87);
    font-family: 'Popins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}



.formulario{
    width: 100%;
    height: 700px;
    background-image: linear-gradient(90deg, rgba(203,201,235,1) 0%, rgba(187,168,228,1) 100%, rgba(121,113,235,0) 100%);
    font-family: 'Popins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(103, 69, 142);
    
    
   


    
}

.formulario h2{
    margin-top: 45px;
    font-family: 'Popins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: rgb(105, 86, 209);
    text-shadow: 1px 1px 2px rgb(117, 85, 163);
}



.form-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    
}
.form-control{
    width: 400px;
}

.mapa{
    background-color: rgb(229, 220, 250);
    margin-top: 50px;

}

.btn-primary{
    background-color: rgb(115, 123, 186);
    color: rgb(229, 220, 250);
    padding: 5px;
    border: 2px;
    border-radius: 10px;
    border-color: rgb(105, 86, 209);
    transition: 0.5s;
    font-family: 'Popins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.btn-primary:hover{
    background-color: rgb(246, 152, 213);
    box-shadow: 0 0 10px rgb(115, 123, 186);
    transition: 1s;
}

.mb-3{
    margin-top: 20px;
    padding: 4px;
    
}

.form-label{
    padding: 2px;
}


.fixed{
    position: fixed;
    right: 50px ;
    bottom: 50px;
}


/*-----FOOTER-----*/

.footer{
    background-color: rgb(229, 233, 254);
}

.footer div{
    background-color: rgb(229, 233, 254);
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.footer img{
    width: 140px;
    height: 100px;
    margin: 10px;
    border: 5px solid rgb(115, 123, 186);
}

.footer p{
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: justify;
    color: black;
    margin-left: 15px;
    margin-top: 20px;

}


@media screen and (max-width:1050px){

    .header .redes{
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-brand{
        padding: 0;
        margin-left: 10px; 
    }        
    
    .hero{
        background-image: url(../img/indexbackground3.jpg);
        width: 100%;
        height: 350px;
    }

    .hero h1{
        font-size: 3em;
        
    }
    
    .hero h2{
        font-size: 2em;
    }
    
    .hero p{
        margin: 10px;
        font-size: 1em;
        text-align: center;
    
    }
    
    .slogan{
        width: 100%;
        height: 50px;
    }
    
    .slogan h3{
        font-size: 1em;
    
    }
    
    .slogan h4{
        
        font-size: 1em;
    
    }
        
    
    .adopt-card{
        height: 400px;
    }
    
    .adopt-card div{
        width: 300px;
        height: 350px;
    
    
    }
    
    
    .adopt-card div a{
        font-size: 2em;
    }

    .adopt-card div img{
        width: 200px;
        height: 200px;
    }

    .acercade{
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }
    
    
    .acercade .mision {
        padding: 5px;
        width: 100%;
        align-self: center;
        margin: 0;
        
    }
    
    .acercade .vision {
        padding: 5px;
        width: 100%;
        align-self: center;
        margin: 0;
    }
    
    .acercade h2{
        font-family: 'Popins', sans-serif;
        font-size: 2em;
        font-weight: 800;
    
    }
    
    .acercade p{
        font-family: 'Popins', sans-serif;
        font-size: 1em;
        font-weight: 600;
    
    }


    .titulo-galeria{
        height: 40px;
        width: 100%
    
    }

    .titulo-galeria h1{
        font-size: 2em;
    }

    .donate{
        background-image: linear-gradient(to bottom, rgba(35, 31, 31, 0) 20%, rgba(0, 0, 0, 0) 100%), url(../img/donatemobile.png);
        width: 100%;
        height: 800px;
    }
    
    .donate-tittle{
        width: 100%;
        height: 100px;
        padding: 20px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    
    .donate-tittle h1{
        padding: 10px;
        width: 100%;
        height: 20px;
        font-size: 2em;
        font-weight: 600;
        text-align: center;
        
    }
    
    .donate-tittle p{
        padding: 20px;
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
        height: 50px;
        font-size: 1em;
        text-align: center;
        color: rgb(229, 233, 254);
        font-weight: 600;
        
    }
    
    .donate-cards {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    
    }
    
    
    
    .donate-cards div{
        width: 50%;
        height: 800px;
        
    
    }
        
    
    .donate-cards div a{
        padding: 5px;
        font-size: 1em;

    }   
    
    .card1{
        width: 300px;
        height: 300px;
        
    
    }
    
    .card2{
        width: 300px;
        height: 300px;
        margin-left: 0;
    }
    
    .card1 h2{
        font-size: 1em;
        text-align: center;
    }
    
    .card2 h2{
        font-size: 1em;
        text-align: center;
    }

    .formulario{
        width: 100%;
        height: 900px;
        font-size: 1em;
        
    }
    
    .formulario h2{
        font-size: 2em;
    } 

    .form-flex{
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }
    .form-control{
        width: 400px;
    }
    .mapa iframe {
        width: 500px; 
        height: 300px;
    }
    
.fixed{
    display: none;
    }

.footer div{ 
    width: 80%;
    height: 100px;


    }

.footer img{
    width: 70px;
    height: 100px;


    }

.footer p{
    font-size: 1em;


    }
}

@media screen and (max-width:580px){

    .navbar-brand{
        padding: 0;
        margin-left: 10px;
    }

    .hero{
        background-image: url("../img/indexbackground2.png");
        width: 100%;
        height: 400px;
    }
    
    
    
    .hero h1{
        font-size: 2em;
        
    }
    
    .hero h2{
        font-size: 1em;
    }
    
    .hero p{
        margin: 5px;
        font-size: 1em;
        text-align: center;
    
    }

    .slogan{
        width: 100%;
        height: 50px;
    }
    
    .slogan h3{
        font-size: 1em;
    
    }
    
    .slogan h4{
        
        font-size: 1em;
    
    }
        
    
    .adopt-card{
        height: 300px;
    }
    
    .adopt-card div{
        width: 250px;
        height: 270px;  
    
    
    }
    
    
    .adopt-card div a{
        font-size: 15px;
    }

    .adopt-card div img{
        width: 170px;
        height: 170px;
    }

    .acercade{
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }
    
    
    .acercade .mision {
        width: 100%;
        align-self: center;
        margin: 0;
        
    }
    
    .acercade .vision {
        width: 100%;
        align-self: center;
        margin: 0;
    }
    
    .acercade h2{
        font-family: 'Popins', sans-serif;
        font-size: 2em;
        font-weight: 800;
    
    }
    
    .acercade p{
        font-family: 'Popins', sans-serif;
        font-size: 1em;
        font-weight: 600;
    
    }

    .titulo-galeria{
        height: 30px;
        width: 100%

    }

    .titulo-galeria h1{
        font-size: 1.5em;
    }
    .galeria-grid h3{
        font-size: 1em;
    }

    .donate{
        background-image: linear-gradient(to bottom, rgba(35, 31, 31, 0) 20%, rgba(0, 0, 0, 0) 100%), url(../img/donatemobile.png);
        width: 100%;
        height: 800px;
    }

    .donate-tittle{
        width: 100%;
        height: 100px;
        padding: 20px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    
    .donate-tittle h1{
        padding: 10px;
        width: 100%;
        height: 50px;
        font-size: 2em;
        font-weight: 600;
        text-align: center;
        
    }
    
    .donate-tittle p{
        padding: 20px;
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
        height: 50px;
        font-size: 1em;
        text-align: center;
        color: rgb(229, 233, 254);
        font-weight: 600;
        
    }
    
    .donate-cards {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    
    }
    
    
    
    .donate-cards div{
        width: 50%;
        height: 800px;
        
    
    }
        
    
    .donate-cards div a{
        padding: 5px;
        font-size: 1em;

    }   
    
    .card1{
        width: 300px;
        height: 200px;
        
    
    }
    
    .card2{
        width: 300px;
        height: 200px;
        margin-left: 0;
    }
    
    .card1 h2{
        font-size: 1em;
        text-align: center;
    }
    
    .card2 h2{
        font-size: 1em;
        text-align: center;
    }
        
    
    .form-control{
        width: 300px;
    }


    .mapa iframe {
        width: 250px; 
        height: 200px;
    }

    .fixed{
        display: none;
    }

    .footer div{
        margin-left: 20px;
        width: 80%;
        height: 100px;


    }

    .footer img{
        width: 60px;
        height: 90px;


    }

    .footer p{
        font-size: 10px;


    } } 