.footer {
    background-color: nth($colores, 1);

    div {
        @include flex (flex, flex-start, center);
        @include size (100%, 130px);
        background-color: nth($colores, 1);
        margin-left: 60px;

        img {
            @include size (140px, 100px);
            margin: 10px;
            border: 5px solid nth($colores, 3);
        }

        p {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: nth($font-size, 2);
            text-align: justify;
            color: black;
            margin-left: 15px;
            margin-top: 20px;
        }
    }
}