.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 165px;
    z-index: 10;

    .redes {
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 3px;
        background-color: $color-secundario;

        a {
        margin: 10px;
        padding: 10px;
        }
    }

    div a {
        text-decoration: none;
        color: rgb(137, 143, 210);
        transition: color 1s;

        &:hover {
        color: rgb(246, 152, 213);
        }
    }

    nav {
        background-color: $color-principal;
        width: 100%;
        height: 100px;
        font-family: 'Popins' sans-serif;
        font-weight: 700;

        .navbar-nav {
            background-color: $color-principal;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            font-weight: 600;
            font-size: 18px;
            color: $color-secundario;
            width: 100%;
            height: 100px;

        div a {
            margin-left: 30px;
            background-color: $color-principal;
            }
        }
    }
}