.hero {
    background-image: radial-gradient(ellipse at center,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.3) 50%,
            rgba(0, 0, 0, 0.2) 100%),
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.095) 100%),
        url("../img/indexbackground.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    @include size (100%, 800px);
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 90px;
        color: nth($colores, 6);
        text-shadow: 2px 2px 3px rgb(67, 29, 87);
    }

    h2 {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 45px;
        color: nth($colores, 2);
        text-shadow: 2px 2px 3px nth($colores, 7);
    }

    p {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: nth($font-size, 5);
        color: nth($colores, 1);
        text-shadow: 2px 2px 3px nth($colores, 7);
        width: 50%;
        margin-top: 30px;
    }
}

.slogan {
    background-image: linear-gradient(90deg, rgba(203, 201, 235, 1) 0%, rgba(187, 168, 228, 1) 100%, rgba(121, 113, 235, 0) 100%);
    width: 100%;
    height: 60px;
    align-items: center;

    h3 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: nth($font-size, 4);
        color: nth($colores, 4);
        text-shadow: 2px 2px 3px nth($colores, 7);
        text-align: center;
    }

    h4 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: nth($font-size, 4);
        color: nth($colores, 4);
        text-shadow: 2px 2px 3px nth($colores, 7);
        text-align: center;
    }
}

.adopt-card {
    @include flex (flex, center, center);
    @include size (100%, 650px);
    background-image: linear-gradient(90deg, rgba(103, 69, 142, 1) 0%, rgba(113, 79, 130, 1) 100%, rgba(121, 113, 235, 0) 100%);


    div {
        background-color: nth($colores, 2);
        box-shadow: 12px 13px 19px 5px rgba(0, 0, 0, 0.65);
        -webkit-box-shadow: 12px 13px 19px 5px rgba(0, 0, 0, 0.65);
        -moz-box-shadow: 12px 13px 19px 5px rgba(0, 0, 0, 0.65);
        width: 500px;
        height: 550px;
        border: 7px nth($colores, 4) solid;
        border-radius: 10px;
        text-align: center;
        margin: 40px;
        transition: 1s;

        &:hover {
            transform: scale(1.1);
        }

        a {
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-size: nth($font-size, 6);
            letter-spacing: 2px;
            color: nth($colores, 1);
            text-shadow: 2px 2px 3px nth($colores, 7);
            background-color: rgb(126, 110, 214);
            padding: 5px;
            border-radius: 10px;
            transition: 2s;
        }

        a:hover {
            background-color: nth($colores, 8);
            box-shadow: 0 0 10px nth($colores, 8);
        }

        img {
            @include size (400px, 400px);
            margin: 25px;
        }
    }
}

.acercade {
    @include flex (flex, space-between, flex-start);
    flex-direction: row;
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.095) 100%), url(../img/cat5.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    padding: 20px;
    
    

    .mision {
        width: 40%;
        align-self: flex-start;
        margin-right: 20px;
    }

    .vision {
        width: 40%;
        margin-left: 20px;
        align-self: flex-end;
    }

    h2 {
        font-family: 'Popins', sans-serif;
        font-size: nth($font-size, 7);
        font-weight: 800;
        color: nth($colores, 2);
        text-shadow: 2px 2px 3px rgb(154, 114, 210);
    }

    p {
        font-family: 'Popins', sans-serif;
        font-size: nth($font-size, 4);
        font-weight: 600;
        color: nth($colores, 1);
        text-shadow: 2px 2px 3px rgb(154, 114, 210);
    }
}


.titulo-galeria {
    background-image: linear-gradient(90deg, rgba(203, 201, 235, 1) 0%, rgba(187, 168, 228, 1) 100%, rgba(121, 113, 235, 0) 100%);
    height: 60px;
    width: 100%;

    h2 {
        color:rgb(103, 69, 142);
        text-shadow: 1px 1px 2px nth($colores, 5);
        font-size: nth($font-size, 7);
        font-weight: 700;
        font-family: 'Popins', sans-serif;
        text-align: center;
    }
}

.galeria-grid {
    width: 100%;
    height: auto;
    background-image: linear-gradient(90deg, rgba(203, 201, 235, 1) 0%, rgba(187, 168, 228, 1) 100%, rgba(121, 113, 235, 0) 100%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;

    div {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: 12px 13px 19px 1px rgba(0, 0, 0, 0.65);
            -webkit-box-shadow: 12px 13px 19px 1px rgba(0, 0, 0, 0.65);
            -moz-box-shadow: 12px 13px 19px 1px rgba(0, 0, 0, 0.65);
        }

        h3 {
            position: absolute;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.24);
            color: nth($colores, 2);
            text-align: center;
            width: 100%;
            font-size: nth($font-size, 4);
            font-family: 'Popins', sans-serif;
            font-weight: 600;
        }
    }

    .img-2 {
        grid-column: span 2;
        grid-row: span 2;
    }

    .img-4 {
        grid-column: span 2;
        grid-row: span 2;
    }

    .img-7 {
        grid-column: span 2;
        grid-row: span 2;
    }
}

.container-fluid {
    width: 100%;
    height: auto;
    background-color: nth($colores, 1);
}

.item-galeria {
    background-color: nth($colores, 1);
    position: relative;
}


.donate {
    background-image: linear-gradient(to bottom, rgba(35, 31, 31, 0) 20%, rgba(0, 0, 0, 0) 100%), url(../img/cat4.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    padding: 20px;

    .donate-tittle {
        @include flex (flex, center, center);
        @include size (80%, 100px);
        padding: 20px;
        margin: 20px;
        flex-direction: column;
        

        h2 {
            padding: 10px;
            width: 80%;
            height: 50px;
            color: rgb(103, 69, 142);
            text-shadow: 1px 1px 2px rgb(42, 25, 66);
            font-family: 'Popins', sans-serif;
            font-size: nth($font-size, 7);
            font-weight: 600;
        }

        p {
            padding: 20px;
            margin-top: 20px;
            width: 100%;
            height: 50px;
            color: rgb(137, 143, 210);
            text-shadow: 1px 1px 2px nth($colores, 5);
            font-family: 'Popins', sans-serif;
            font-size: nth($font-size, 5);
            font-weight: 500;
        }
    }

    .donate-cards {
        @include size (800px, 300px);
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 10px;
            margin-top: 20px;

            a {
                padding: 5px;
                color: nth($colores, 4);
                text-shadow: 2px 2px 3px rgb(154, 114, 210);
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: nth($font-size, 4);
                letter-spacing: 2px;
                background-color: nth($colores, 2);
                padding: 5px;
                border-radius: 10px;
                transition: 1s;

                &:hover {
                    background-color: nth($colores, 8);
                    box-shadow: 0 0 10px nth($colores, 8);
                    transform: scale(1.2);
                }
            }
        }

        .card1 {
            @include size (300px, 200px);
            background-color:nth($colores, 3);
            box-shadow: 12px 13px 19px 1px rgba(0, 0, 0, 0.65);
            -webkit-box-shadow: 12px 13px 19px 1px rgba(0, 0, 0, 0.65);
            -moz-box-shadow: 12px 13px 19px 1px rgba(0, 0, 0, 0.65);

            h2 {
                color: nth($colores, 2);
                text-shadow: 2px 2px 3px rgb(67, 29, 87);
                font-family: 'Popins', sans-serif;
                font-size: nth($font-size, 4);
                font-weight: 500;
            }
        }

        .card2 {
            @include size (300px, 200px);
            background-color: rgb(115, 123, 186);
            box-shadow: 12px 13px 19px 1px rgba(0, 0, 0, 0.65);
            -webkit-box-shadow: 12px 13px 19px 1px rgba(0, 0, 0, 0.65);
            -moz-box-shadow: 12px 13px 19px 1px rgba(0, 0, 0, 0.65);
            margin-left: 50px;

            h2 {
                color: nth($colores, 2);
                text-shadow: 2px 2px 3px rgb(67, 29, 87);
                font-family: 'Popins', sans-serif;
                font-size: nth($font-size, 4);
                font-weight: 500;
            }
        }
    }
}


.formulario {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(90deg, rgba(203, 201, 235, 1) 0%, rgba(187, 168, 228, 1) 100%, rgba(121, 113, 235, 0) 100%);
    font-family: 'Popins', sans-serif;
    font-weight: 600;
    font-size: nth($font-size, 4);
    color: rgb(103, 69, 142);

    h2 {
        margin-top: 45px;
        font-family: 'Popins', sans-serif;
        font-size: nth($font-size, 7);
        font-weight: 700;
        color: nth($colores, 4);
        text-shadow: 1px 1px 2px nth($colores, 5);
    }

    .form-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 30px;

        .form-control {
            width: 400px;
        }
    }

    .mapa {
        width: auto;
        height: 400px;
        background-color: nth($colores, 2);
        margin-top: 50px;
    }

    .btn-primary {
        background-color: nth($colores, 3);
        color: nth($colores, 2);
        padding: 5px;
        border: 2px;
        border-radius: 10px;
        border-color: nth($colores, 4);
        transition: 0.5s;
        font-family: 'Popins', sans-serif;
        font-size: nth($font-size, 4);
        font-weight: 400;
        letter-spacing: 1px;
        margin-left: 20px;
        margin-bottom: 20px;

        &:hover {
            background-color: nth($colores, 8);
            box-shadow: 0 0 10px nth($colores, 3);
            transition: 1s;
        }
    }

    .mb-3 {
        margin-top: 20px;
        padding: 4px;
    }

    .form-label {
        padding: 2px;
    }
}

.fixed {
    position: fixed;
    right: 50px;
    bottom: 50px;
}