.hero {
    background-image: radial-gradient(ellipse at center,
            rgba(0, 0, 0, 0.2) 0%,
            rgba(0, 0, 0, 0.3) 50%,
            rgba(0, 0, 0, 0.2) 100%),
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.095) 100%),
        url("../img/indexbackground.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 90px;
        color: rgb(103, 69, 142);
        text-shadow: 2px 2px 3px rgb(67, 29, 87);
    }

    h2 {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 45px;
        color: rgb(229, 220, 250);
        text-shadow: 2px 2px 3px rgb(213, 152, 246);
    }

    p {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 25px;
        color: $color-principal;
        text-shadow: 2px 2px 3px rgb(213, 152, 246);
        width: 50%;
        margin-top: 30px;
    }
}

.slogan {
    background-image: linear-gradient(90deg, rgba(203, 201, 235, 1) 0%, rgba(187, 168, 228, 1) 100%, rgba(121, 113, 235, 0) 100%);
    width: 100%;
    height: 60px;
    align-items: center;

    h3 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: rgb(105, 86, 209);
        text-shadow: 2px 2px 3px rgb(213, 152, 246);
        text-align: center;
    }

    h4 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: rgb(105, 86, 209);
        text-shadow: 2px 2px 3px rgb(213, 152, 246);
        text-align: center;
    }
}

.adopt-card {
    background-image: linear-gradient(90deg, rgba(103, 69, 142, 1) 0%, rgba(113, 79, 130, 1) 100%, rgba(121, 113, 235, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;

    div {
        background-color: $color-terciario;
        box-shadow: 12px 13px 19px 5px rgba(0, 0, 0, 0.65);
        -webkit-box-shadow: 12px 13px 19px 5px rgba(0, 0, 0, 0.65);
        -moz-box-shadow: 12px 13px 19px 5px rgba(0, 0, 0, 0.65);
        width: 500px;
        height: 550px;
        border: 7px rgb(105, 86, 209) solid;
        border-radius: 10px;
        text-align: center;
        margin: 40px;
        transition: 1s;

        &:hover {
            transform: scale(1.1);
        }

        a {
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-size: 30px;
            letter-spacing: 2px;
            color: $color-principal;
            text-shadow: 2px 2px 3px rgb(213, 152, 246);
            background-color: rgb(126, 110, 214);
            padding: 5px;
            border-radius: 10px;
            transition: 2s;
        }

        a:hover {
            background-color: rgb(246, 152, 213);
            box-shadow: 0 0 10px rgb(246, 152, 213);
        }

        img {
            width: 400px;
            height: 400px;
            margin: 25px;
        }
    }
}

.acercade {
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.095) 100%), url(../img/cat5.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .mision {
        width: 40%;
        align-self: flex-start;
        margin-right: 20px;
    }

    .vision {
        width: 40%;
        margin-left: 20px;
        align-self: flex-end;
    }

    h2 {
        font-family: 'Popins', sans-serif;
        font-size: 40px;
        font-weight: 800;
        color: $color-terciario;
        text-shadow: 2px 2px 3px rgb(154, 114, 210);
    }

    p {
        font-family: 'Popins', sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: $color-principal;
        text-shadow: 2px 2px 3px rgb(154, 114, 210);
    }
}

.fixed {
    img {
        width: 100px;
        height: 100px;
    }
}

.titulo-galeria {
    background-image: linear-gradient(90deg, rgba(203, 201, 235, 1) 0%, rgba(187, 168, 228, 1) 100%, rgba(121, 113, 235, 0) 100%);
    height: 60px;
    width: 100%;

    h1 {
        color: $color-secundario;
        text-shadow: 1px 1px 2px rgb(117, 85, 163);
        font-size: 40px;
        font-weight: 700;
        font-family: 'Popins', sans-serif;
        text-align: center;
    }
}

.galeria-grid {
    width: 100%;
    height: auto;
    background-image: linear-gradient(90deg, rgba(203, 201, 235, 1) 0%, rgba(187, 168, 228, 1) 100%, rgba(121, 113, 235, 0) 100%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;

    div {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: 12px 13px 19px 1px rgba(0, 0, 0, 0.65);
            -webkit-box-shadow: 12px 13px 19px 1px rgba(0, 0, 0, 0.65);
            -moz-box-shadow: 12px 13px 19px 1px rgba(0, 0, 0, 0.65);
        }

        h3 {
            position: absolute;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.24);
            color: rgb(229, 220, 250);
            align-items: center;
            text-align: center;
            width: 100%;
            font-size: 20px;
            font-family: 'Popins', sans-serif;
            font-weight: 600;
        }
    }

    .img-2 {
        grid-column: span 2;
        grid-row: span 2;
    }

    .img-4 {
        grid-column: span 2;
        grid-row: span 2;
    }

    .img-7 {
        grid-column: span 2;
        grid-row: span 2;
    }
}

.container-fluid {
    width: 100%;
    height: auto;
    background-color: $color-principal;
}

.item-galeria {
    background-color: $color-principal;
    position: relative;
}

.fixed {
    img {
        width: 100%;
        height: auto;
    }
}

.donate {
    background-image: linear-gradient(to bottom, rgba(35, 31, 31, 0) 20%, rgba(0, 0, 0, 0) 100%), url(../img/cat4.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    padding: 20px;

    .donate-tittle {
        width: 80%;
        height: 100px;
        padding: 20px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            padding: 10px;
            width: 80%;
            height: 50px;
            color: $color-secundario;
            text-shadow: 1px 1px 2px rgb(42, 25, 66);
            font-family: 'Popins', sans-serif;
            font-size: 40px;
            font-weight: 600;
        }

        p {
            padding: 20px;
            margin-top: 20px;
            width: 100%;
            height: 50px;
            color: rgb(137, 143, 210);
            text-shadow: 1px 1px 2px rgb(117, 85, 163);
            font-family: 'Popins', sans-serif;
            font-size: 25px;
            font-weight: 500;
        }
    }

    .donate-cards {
        width: 800px;
        height: 300px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 10px;
            margin-top: 20px;

            a {
                padding: 5px;
                color: rgb(105, 86, 209);
                text-shadow: 2px 2px 3px rgb(154, 114, 210);
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 20px;
                letter-spacing: 2px;
                background-color: $color-terciario;
                padding: 5px;
                border-radius: 10px;
                transition: 1s;

                &:hover {
                    background-color: rgb(246, 152, 213);
                    box-shadow: 0 0 10px rgb(246, 152, 213);
                    transform: scale(1.2);
                }
            }
        }

        .card1 {
            width: 300px;
            height: 200px;
            background-color: rgb(115, 123, 186);
            box-shadow: 12px 13px 19px 1px rgba(0, 0, 0, 0.65);
            -webkit-box-shadow: 12px 13px 19px 1px rgba(0, 0, 0, 0.65);
            -moz-box-shadow: 12px 13px 19px 1px rgba(0, 0, 0, 0.65);

            h2 {
                color: rgb(229, 220, 250);
                text-shadow: 2px 2px 3px rgb(67, 29, 87);
                font-family: 'Popins', sans-serif;
                font-size: 20px;
                font-weight: 500;
            }
        }

        .card2 {
            width: 300px;
            height: 200px;
            background-color: rgb(115, 123, 186);
            box-shadow: 12px 13px 19px 1px rgba(0, 0, 0, 0.65);
            -webkit-box-shadow: 12px 13px 19px 1px rgba(0, 0, 0, 0.65);
            -moz-box-shadow: 12px 13px 19px 1px rgba(0, 0, 0, 0.65);
            margin-left: 50px;

            h2 {
                color: $color-terciario;
                text-shadow: 2px 2px 3px rgb(67, 29, 87);
                font-family: 'Popins', sans-serif;
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}


.fixed {
    img {
        width: 100%;
        height: auto;
    }
}

.formulario {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(90deg, rgba(203, 201, 235, 1) 0%, rgba(187, 168, 228, 1) 100%, rgba(121, 113, 235, 0) 100%);
    font-family: 'Popins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(103, 69, 142);

    h2 {
        margin-top: 45px;
        font-family: 'Popins', sans-serif;
        font-size: 40px;
        font-weight: 700;
        color: rgb(105, 86, 209);
        text-shadow: 1px 1px 2px rgb(117, 85, 163);
    }

    .form-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 30px;

        .form-control {
            width: 400px;
        }
    }

    .mapa {
        background-color: $color-terciario;
        margin-top: 50px;
    }

    .btn-primary {
        background-color: rgb(115, 123, 186);
        color: rgb(229, 220, 250);
        padding: 5px;
        border: 2px;
        border-radius: 10px;
        border-color: rgb(105, 86, 209);
        transition: 0.5s;
        font-family: 'Popins', sans-serif;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1px;
        margin-left: 20px;
        margin-bottom: 20px;

        &:hover {
            background-color: rgb(246, 152, 213);
            box-shadow: 0 0 10px rgb(115, 123, 186);
            transition: 1s;
        }
    }

    .mb-3 {
        margin-top: 20px;
        padding: 4px;
    }

    .form-label {
        padding: 2px;
    }
}

.fixed {
    position: fixed;
    right: 50px;
    bottom: 50px;
}